<h1>Web Developer Code Challenge</h1>
<p>The purpose of this code challenge is to assess the skills and experience of the candidate in the following key areas::</p>
<ul>
  <li>Fetching/Updating data from the server using existing API.</li>
  <li>Working with ASP .NET Core and C#</li>
  <li>Design and Implementation of HMTL pages</li>
  <li>Working with CSS - Cascading Style Sheets</li>
  <li>Working with Array/Collections</li>
  <li>Working with Javascript/TypeScript</li>
  <li>Working with Git</li>

</ul>
<strong>Instructions</strong>
<ol>
  <li>Using Visual Studio or Visual Studio Code create a C# ASP.NET Core Web Application.</li>
  <li>Given the following Customer API  <a href="#">https://getinvoices.azurewebsites.net/api/ </a>use it to retrieve the data needed to build a table that will contain the following columns:</li>
  <table>
    <tr>
      <th style="border: 1px solid black; padding: 5px;">CustomerId</th>
      <th style="border: 1px solid black; padding: 5px;">Firstname</th>
      <th style="border: 1px solid black; padding: 5px;">Lastname</th>
      <th style="border: 1px solid black; padding: 5px;">Email</th>
      <th style="border: 1px solid black; padding: 5px;">Phone_Number</th>
      <th style="border: 1px solid black; padding: 5px;">Country_code</th>
      <th style="border: 1px solid black; padding: 5px;">Gender</th>
      <th style="border: 1px solid black; padding: 5px;">Balance</th>
    </tr>
   </table>
  <li>Apply format to the following columns
    <ol type="A">
      <li>Email (as a link)</li>
      <li>Balance (as currency)</li>
    </ol>
  </li>
  <li>Create two more columns with a Delete and Edit Customer action for each element in the table.</li>
  <li>
    Insert at the bottom of the table a button for Adding a new Customer.
    <ol type="A">
      <li>For adding/editing, the user must be redirected to a new page.</li>
      <li>When adding/editing a customer, make sure an Email is provided as it is a required field.</li>
      <li>If validation fails, the field that has an error should be highlighted.</li>
    </ol>
  </li>
</ol>
<p>For JavaScript, please use VueJS, Angular or React. </p>
<p>For styling, you can use any CSS or library framework.  </p>
<p>Please find below a list of all the APIs and the model that you are going to be using in this exercise.  </p>
